<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta name="author" content="Jan Navrátil">
  
  <title>Jan Navrátil - osobní web</title>
  <meta content="Muj osobni web" name="description">
  <meta content="Networking, Servers, Cloud, IT" name="keywords">
  
    <!-- Favicons -->
  <link href="/source/images/icon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">
  
    <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
  
    <!-- Vendor CSS Files -->
  <link href="{{ url_for('static', filename='aos.css')}}" rel="stylesheet">
  <link href="{{ url_for('static', filename='bootstrap.min.css') }}" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.6.1/font/bootstrap-icons.css">
  <link href="{{ url_for('static', filename='bootstrapicons.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='boxicons.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='glightbox.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='swiperbundle.min.css') }}" rel="stylesheet">
  
    <!-- Template Main CSS File -->
  <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
  
    <!-- =======================================================
    * Template Name: iPortfolio - v3.6.0
    * Template URL: https://bootstrapmade.com/iportfolio-bootstrap-portfolio-websites-template/
    * Author of the template: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
</head>
<body>

  <!-- ======= Mobile nav toggle button ======= -->
  <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>

  <!-- ======= Header ======= -->
  <header id="header">
    <div class="d-flex flex-column">

      <div class="profile">
        <img src="/static/images/PF.jpg" alt="" class="img-fluid rounded-circle">
        <h1 class="text-light"><a href="index.html">Jan Navrátil</a></h1>
        <div class="social-links mt-3 text-center">
          <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
          <a href="#" class="mail"><i class="bi bi-envelope"></i></a>
          <a href="#" class="number"><i class="bi bi-telephone"></i></a>
          <a href="#" class="github"><i class="bi bi-github"></i></a>
          <a href="#" class="whatsapp"><i class="bi bi-whatsapp"></i></a>

          

        </div>
      </div>

      <nav id="navbar" class="nav-menu navbar">
        <ul>
          <li><a href="/#hero" class="nav-link scrollto active"><i class="bi bi-house-door"></i> <span>Home</span></a></li>
          <li><a href="/#about" class="nav-link scrollto"><i class="bi bi-info-circle"></i> <span>O mně</span></a></li>
          <li><a href="/#projects" class="nav-link scrollto"><i class="bi bi-diagram-3"></i> <span>Projekty</span></a></li>
          <li><a href="/#skills" class="nav-link scrollto"><i class="bi bi-keyboard"></i> <span>Dovednosti</span></a></li>
          <li><a href="/#contact" class="nav-link scrollto"><i class="bi bi-person-lines-fill"></i> <span>Kontakt</span></a></li>
        </ul>
      </nav><!-- .nav-menu -->
    </div>
  </header><!-- End Header -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="homelab" class="homelab">
      <div class="container">
        <div class="section-title">
          <h3>Úvod</h3>
          <p>Tento projekt vznikl primárně za účelem testování administrace virtuálních instancí serverů, kontejnerů a samotného virtualizovaného prostředí. Vznikl ale také aby byl přínosem pro mojí domácí síť a každodenní využívání.</p>
          <p>Mým prvním krokem bylo zvolit jaké z nabízených řešení pro virtualizovaná prostředí se nejvíce hodí pro mé účely. Zvolil jsem si Proxmox Virtual Enviroment, primárně kvůli tomu, že se jedná o kompletní open source řešení. Proxmox hypervisor mi běží na Rasberry Pi 4 Model B, jedná se o low-cost variantu, ale za žádnou cenu se nejedná o řešení v produkčním prostředí, jelikož instalace Proxmox hypervisoru na zařízení s ARM procesory není oficiálně podporována. Z tohoto důvodu zde můžeme najít určité nekompatibility co se týče hardwaru a také není zaručena stabilita prostředí.</p>
          <h3>Správa úložiště</h3>
          <p>Jakožto úložiště mám vyhrazené 2 disky oba o kapacitě 2TB. Tyto disky jsou pomocí linuxového nástroje mdadm spravovány v RAID1 diskovém poli, což zajišťuje redundanci vůči selhání jednoho z fyzických disků. Samotné diskové pole je dále ještě spravováno pomocí LVM. LVM využívám primárně z důvodů flexibility, kterou nabízí. 1 logický oddíl jsem konvertoval na lvm-thin volume a mám ho vyhrazený jakožto lokální úložiště pro VM disky a kontejnery. Důvodem proč jsem zvolil lvm-thin volume byl primárně ten, že nabízí podporu snapshotů. Co se týče druhého logického oddílu, tak ten slouží jako úložiště pro virtualizovanou instanci Open Media Vault NAS. </p>
          <p>Na NAS se automaticky provádí backupy VM disků a lxc kontejnerů. Jelikož se jedná stále o stejné 2 fyzické disky, tak zálohuji obsah NAS ještě na osobní PC, což je prozatímní řešení. Ideální by samozřejmě bylo mít dedikovanou NAS nezávislou na lokální úložiště a zde provádět automatické zálohy a k tomu ještě využít cloudových zálohovacích služeb. Jelikož se ale jedná pouze o testovací prostředí, nemám na to vyhrazené prostředky</p>
          <h3>User managment</h3>
          <p>Jelikož prostředí zatím využívám pouze já, tak správa uživatelů není náročná. Když opominu root uživatele, tak mám vytvořený jeden administrátorský účet Proxmox prostředí, který není veden jako lokální systémový účet, tudíž se s ním nelze přihlásit do Rasberry Pi. Poté ještě PAM administrátorská účet, který je veden i jako systémový účet a lze se s ním přihlásit do lokálního systému, na kterém Proxmox běží. Všechny tyto účty využívají náhodně generovaná hesla a dvoufakturovou autentizaci (TOTP). OATH-TOTP generuje jednorázové tokeny, které se mění po určitém časovém intervalu</p>
          <h3>Virtuální instance a lxc kontejnery</h3>
          <h>Zatím mám ve virtuální instanci nainstalovanou Sambu jakožto Ative Directory Domain Cotroller, dále mám v lxc kontejneru Samba file server, který je připojen do domény a také virtuální instanci Windows 10. Toto řešení mám vyhrazené jakožto malé Active Directory prostředí</h>
          <p>Dále mi také v lxc kontejneru běží Docker engine, který mi bude sloužit k deploymentu služeb v kontejnerech. Služby, které plánuji v kontejnerizovaném prostředí využít jsou:
            <ul>
              <li>Nginx reverse proxy manager - jelikož se k velkému množství služeb přistupuje přes webové rozhraní, je nějakým způsobem nutné zabezpečit komunikaci s jednotlivými kontejnery. Nginx reverse proxy manager umožňuje vystavovat jednotlivým webovým aplikacím trusted SSL certifikáty, nastavovat Access Control listy a hlavně umožňuje forwardování požadavků jednotlivým kontejnerům. To v praxi znamená, že na lokálním systému nemusejí být otevřené všechny porty na kterých poslouchají kontejnery, ale pouze port 80 a 443. Reverzní proxy server pak přesměruje provoz na kterém kontejnery poslouchají v rámci Docker sítě. Další časté využití je load-balancing mezi službami.</li>
              <li>Prometheus a grafana - Toto řešení plánuji využít jako centrální monitorovací a alertovací systém pro moje servery</li>
              <li>Graylog - Centrální logovací systém se samozřejmě velmi hodí při troubleshootingu a je vpodstatě nutností při správě většího množství serverů. Plánuji zkusit  logovací systém Graylog </li>
              <li>Netbox - Tento nástroj plánuji využít jakožto službu pro dokumentaci Síťové Infrastruktury u mého druhého projektu. Jedná se o velmi užitečný nástroj, jelikož v síťové infrastruktuře se bez kvalitní dokumentace dá velmi lehce ztratit, a to způsobuje problémy při udržování a troubleshootingu zařízení </li>
            </ul>
          </p>
          <img src="/static/images/homelab.jpg" alt="" class="homelab_image">
        </div>
      </div>
    </section>
    <!-- ======= Facts Section ======= -->
    </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>2021 Jan Navrátil</span></strong>
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/iportfolio-bootstrap-portfolio-websites-template/ -->
      </div>
    </div>
  </footer><!-- End  Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{{ url_for('static', filename='aos.js')}} "></script>
  <script src="{{ url_for('static', filename='bootstrap.bundle.min.js')}} "></script>
  <script src="{{ url_for('static', filename='glightbox.min.js')}} "></script>
  <script src="{{ url_for('static', filename='isotope.pkgd.min.js')}} "></script>
  <script src="{{ url_for('static', filename='validate.js')}} "></script>
  <script src="{{ url_for('static', filename='purecounter.js')}}"></script>
  <script src="{{ url_for('static', filename='swiper-bundle.min.js')}} "></script>
  <script src="{{ url_for('static', filename='typed.min.js')}}"></script>
  <script src="{{ url_for('static', filename='noframework.waypoints.js')}} "></script>

  <!-- Template Main JS File -->
  <script src="{{ url_for('static', filename='main.js')}} "></script>

</body>

</html>