<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta name="author" content="Jan Navrátil">

  <title>Jan Navrátil - osobní web</title>
  <meta content="Muj osobni web" name="description">
  <meta content="Networking, Servers, Cloud, IT" name="keywords">

  <!-- Favicons -->
  <link href="/source/images/icon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{{ url_for('static', filename='aos.css')}}" rel="stylesheet">
  <link href="{{ url_for('static', filename='bootstrap.min.css') }}" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.6.1/font/bootstrap-icons.css">
  <link href="{{ url_for('static', filename='bootstrapicons.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='boxicons.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='glightbox.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='swiperbundle.min.css') }}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: iPortfolio - v3.6.0
  * Template URL: https://bootstrapmade.com/iportfolio-bootstrap-portfolio-websites-template/
  * Author of the template: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Mobile nav toggle button ======= -->
  <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>

  <!-- ======= Header ======= -->
  <header id="header">
    <div class="d-flex flex-column">

      <div class="profile">
        <img src="/static/images/PF.jpg" alt="" class="img-fluid rounded-circle">
        <h1 class="text-light"><a href="index.html">Jan Navrátil</a></h1>
        <div class="social-links mt-3 text-center">
          <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
          <a href="#" class="mail"><i class="bi bi-envelope"></i></a>
          <a href="#" class="number"><i class="bi bi-telephone"></i></a>
          <a href="#" class="github"><i class="bi bi-github"></i></a>
          <a href="#" class="whatsapp"><i class="bi bi-whatsapp"></i></a>

          

        </div>
      </div>

      <nav id="navbar" class="nav-menu navbar">
        <ul>
          <li><a href="#hero" class="nav-link scrollto active"><i class="bi bi-house-door"></i> <span>Home</span></a></li>
          <li><a href="#about" class="nav-link scrollto"><i class="bi bi-info-circle"></i> <span>O mně</span></a></li>
          <li><a href="#projects" class="nav-link scrollto"><i class="bi bi-diagram-3"></i> <span>Projekty</span></a></li>
          <li><a href="#skills" class="nav-link scrollto"><i class="bi bi-keyboard"></i> <span>Dovednosti</span></a></li>
          <li><a href="#contact" class="nav-link scrollto"><i class="bi bi-person-lines-fill"></i> <span>Kontakt</span></a></li>
        </ul>
      </nav><!-- .nav-menu -->
    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex flex-column justify-content-center align-items-center">
    <div class="hero-container" data-aos="fade-in">
      <h1>Jan Navrátil</h1>
      <p><span class="typed" data-typed-items="System Administration, Networking, Virtualization"></span></p>
    </div>
  </section><!-- End Hero -->


  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">
        <div class="section-title">
          <h3>Tato webová stránka je stále ještě ve vývoji :)</h3>
          <h2>O mně</h2>
          <p>Jsem nadšencem do informačních technologií, na tomto oboru mi přijde nejvíce zajímavá jeho rozmanitost a rozsáhlost, IT obsahuje nespočet zajímavých technologií, kterým se člověk může přiučit. Momentálně studuji Informatiku na Provozně ekonomické fakultě ČZU v Praze.</p>
          <p>Ve svém volném čase rád sportuji, mým nejoblíbenějším sportem je fotbal, ale také posiluji. Dále se ještě rád zabývám hraním na kytaru. </p>
          <p></p>
        </div>
      </div>
    </section>
    <!-- ======= Facts Section ======= -->
           <!-- ======= Project Section ======= -->
    <section id="projects" class="services">
      <div class="container">

        <div class="section-title">
          <h2>Osobní projekty</h2>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up">
            <div class="icon"><a href="/homelab"><i class="bi bi-briefcase"></i></a></div>
            <h4 class="title"><a href="/homelab">Homelab</a></h4>
            <p class="description">V tomto projektu jsem si vytvořil domácí testovací prostředí za využití hypervisoru Proxmox, zde je můj dosavadní proces a budoucí plány</p>
          </div>
          <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
            <div class="icon"><a href="/networkdesign"><i class="bi bi-card-checklist"></i></a></div>
            <h4 class="title"><a href="/networkdesign">Navržení a konfigurace firemní síťové infrastruktury</a></h4>
            <p class="description">V rámci tohoto projektu sloužící jako případová studie navrhuji a konfiguruji síťovou infrastrukturu středně velké firmy v emulovaném prostředí EVE-NG</p>
          </div>
        </div>

      </div>
    </section><!-- End Project Section -->
   <!-- ======= Skills Section ======= -->
    <section id="skills" class="skills section-bg">
      <div class="container">
        <div class="section-title">
          <h2>Dovednosti</h2>
        </div> 
        <div class="section-content">
          <ul>
            <li>Linux
              <ul>
                <li>Správa služeb - OpenSSH, Samba (Sloužící jako doménový řadič, sloužící jako file server), Nginx (funkce webového serveru i reverzního proxy serveru), BIND9, OpenVPN</li>
                <li>Správa disků - mdadm, LVM, auto mountování disků</li>
                <li>Síťová kongiurace - IP kofigurace, NIC bonding, DNS troubleshooting, Monitorování (ss, tcpdump, nmap)</li>
                <li>Základní zabezpečení - iptables, POSIX oprávnění, fail2ban, SSH zabezpečení, watchtower</li>
              </ul>
            </li>
            <li>Networking - znalost TCP/IP, Architektování sítí (viz. projekt), subnetting, VLANs, intervlan routing, STP, dynamické směrovací protokoly (OSPF, EIGRP), FHRP, ACLs, NAT, Základy QoS</li>
            <li>Virtualizace - práce v Hypervisoru Proxmox (Správa úložiště, správa uživatelů, tvoření templates, deployment VMs a LXC kontejnerů)</li>
            <li>Základy Docker - Stavění kontejneru pomocí Dockerfile, Tvorba konejnerů pomocí Docker-Compose, Docker networking, port mapping, persistant volumes, watchover</li>
            <li>základní znalost Active Direcotry prostředí (Správa uživatelů,skupin a org. jednotek, GPOs, ACLs, DNS)</li>
            <li>Základy jazyka Python</li>
          </ul>
          <h3>Certifikace</h3>
          <p>Certiikace MTCNA</p>
          <p>Certifikcace CCNA - v průběhu certifikačního kurzu</p>

        </div>
    </section><!-- End Skills Section -->



        <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

        <div class="section-title">
          <h2>Kontakty</h2>
        </div>

        <div class="row" data-aos="fade-in">

          <div class="col-lg-5 d-flex align-items-stretch">
            <div class="info">
              <!--<div class="address">
                <i class="bi bi-geo-alt"></i>
                <h4>Location:</h4>
                <p>A108 Adam Street, New York, NY 535022</p>
              </div> -->

              <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>Email</h4>
                <p>j_navratil@outlook.com</p>
              </div>

              <div class="phone">
                <i class="bi bi-phone"></i>
                <h4>Telefonní číslo</h4>
                <p>739 847 403</p>
              </div>
            </div>

          </div>

          <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch"></div>
          
            <form action="{{ url_for('handle_data') }}" method="post" role="form" class="php-email-form">
              <div class="row">
                <div class="form-group col-md-6">
                  <label for="name">Your Name</label>
                  <input type="text" name="username" class="form-control" id="name" required>
                </div>
                <div class="form-group col-md-6">
                  <label for="name">Your Email</label>
                  <input type="email" class="form-control" name="email" id="email" required>
                </div>
              </div>
              <div class="form-group">
                <label for="name">Subject</label>
                <input type="text" class="form-control" name="subject" id="subject" required>
              </div>
              <div class="form-group">
                <label for="name">Message</label>
                <textarea class="form-control" name="message" rows="10" required></textarea>
              </div>
              <div class="my-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>

          </div>
        </div>
      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>2021 Jan Navrátil</span></strong>
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/iportfolio-bootstrap-portfolio-websites-template/ -->
        <!--Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a> -->
      </div>
    </div>
  </footer><!-- End  Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{{ url_for('static', filename='aos.js')}} "></script>
  <script src="{{ url_for('static', filename='bootstrap.bundle.min.js')}} "></script>
  <script src="{{ url_for('static', filename='glightbox.min.js')}} "></script>
  <script src="{{ url_for('static', filename='isotope.pkgd.min.js')}} "></script>
  <script src="{{ url_for('static', filename='validate.js')}} "></script>
  <script src="{{ url_for('static', filename='purecounter.js')}}"></script>
  <script src="{{ url_for('static', filename='swiper-bundle.min.js')}} "></script>
  <script src="{{ url_for('static', filename='typed.min.js')}}"></script>
  <script src="{{ url_for('static', filename='noframework.waypoints.js')}} "></script>

  <!-- Template Main JS File -->
  <script src="{{ url_for('static', filename='main.js')}} "></script>

</body>

</html>
