<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta name="author" content="Jan Navrátil">

  <title>Jan Navrátil - osobní web</title>
  <meta content="Muj osobni web" name="description">
  <meta content="Networking, Servers, Cloud, IT" name="keywords">

  <!-- Favicons -->
  <link href="/source/images/icon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{{ url_for('static', filename='aos.css')}}" rel="stylesheet">
  <link href="{{ url_for('static', filename='bootstrap.min.css') }}" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.6.1/font/bootstrap-icons.css">
  <link href="{{ url_for('static', filename='bootstrapicons.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='boxicons.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='glightbox.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='swiperbundle.min.css') }}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: iPortfolio - v3.6.0
  * Template URL: https://bootstrapmade.com/iportfolio-bootstrap-portfolio-websites-template/
  * Author of the template: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Mobile nav toggle button ======= -->
  <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>

  <!-- ======= Header ======= -->
  <header id="header">
    <div class="d-flex flex-column">

      <div class="profile">
        <img src="/static/images/PF.jpg" alt="" class="img-fluid rounded-circle">
        <h1 class="text-light"><a href="index.html">Jan Navrátil</a></h1>
        <div class="social-links mt-3 text-center">
          <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
          <a href="#" class="mail"><i class="bi bi-envelope"></i></a>
          <a href="#" class="number"><i class="bi bi-telephone"></i></a>
          <a href="#" class="github"><i class="bi bi-github"></i></a>
          <a href="#" class="whatsapp"><i class="bi bi-whatsapp"></i></a>

          

        </div>
      </div>

      <nav id="navbar" class="nav-menu navbar">
        <ul>
          <li><a href="/#hero" class="nav-link scrollto active"><i class="bi bi-house-door"></i> <span>Home</span></a></li>
          <li><a href="/#about" class="nav-link scrollto"><i class="bi bi-info-circle"></i> <span>O mně</span></a></li>
          <li><a href="/#projects" class="nav-link scrollto"><i class="bi bi-diagram-3"></i> <span>Projekty</span></a></li>
          <li><a href="/#skills" class="nav-link scrollto"><i class="bi bi-keyboard"></i> <span>Dovednosti a certifikace</span></a></li>
          <li><a href="/#contact" class="nav-link scrollto"><i class="bi bi-person-lines-fill"></i> <span>Kontakt</span></a></li>
        </ul>
      </nav><!-- .nav-menu -->
    </div>
  </header><!-- End Header -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="homelab" class="homelab">
      <div class="container">
        <div class="section-title">
          <h2>Network design a konfigurace</h2>
          <p>Na dokumentaci tohoto projektu se pracuje</p>
          <img src="/static/images/networkdesign1.png" alt="" class="networkdesign_img">
        </div>
      </div>
    </section>
    <!-- ======= Facts Section ======= -->
    </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>2021 Jan Navrátil</span></strong>
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/iportfolio-bootstrap-portfolio-websites-template/ -->
      </div>
    </div>
  </footer><!-- End  Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{{ url_for('static', filename='aos.js')}} "></script>
  <script src="{{ url_for('static', filename='bootstrap.bundle.min.js')}} "></script>
  <script src="{{ url_for('static', filename='glightbox.min.js')}} "></script>
  <script src="{{ url_for('static', filename='isotope.pkgd.min.js')}} "></script>
  <script src="{{ url_for('static', filename='validate.js')}} "></script>
  <script src="{{ url_for('static', filename='purecounter.js')}}"></script>
  <script src="{{ url_for('static', filename='swiper-bundle.min.js')}} "></script>
  <script src="{{ url_for('static', filename='typed.min.js')}}"></script>
  <script src="{{ url_for('static', filename='noframework.waypoints.js')}} "></script>

  <!-- Template Main JS File -->
  <script src="{{ url_for('static', filename='main.js')}} "></script>

</body>

</html>